body{
    background: url(images/justice.jpg) repeat;
    background-size: cover;
    /* background-color: #aa9166; */
    background-position: center;
    

}
#chat-container {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
  }
  
  #chat-messages {
    /* flex: 1; */
    /* overflow-y: scroll; */
    /* border: 1px solid #ccc; */
    padding: 10px;
  }
  
  #user-list {
    width: 200px;
    /* border: 1px solid #ccc; */
    padding: 10px;
  }
  
  #chat-form {
    margin-top: 10px;
    margin-left: 10%;
  }
  
  #chat-form input[type="text"] {
    width: 80%;
    margin-top: 10%;
    padding: 38px 120px;
  }
  
  #chat-form button {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #aa9166;
    font-size: 18px;
    font-weight: bold;
    /* margin-top: -50%; */
  }
  #chat-form button:hover{
    background: #aa9166;
    color: white;
}
  